footer {
    font-size: 14px;

    .footer-1 {
        background-color: #FAFAFA;
        padding: 30px;

        .head {
            font-weight: bold;
            color: #E6332A;
            margin-top: 24px;
            font-size: 16px;
        }

        .logo {
            width: 108px;
        }

        @media (max-width: 577px) {
            .logo {
                width: 145px;
            }
        }

        a {
            text-decoration: none;
            color: #333333;
        }
    }

    @media (max-width: 577px) {
        .footer-1 {
            padding: 44px 30px;
        }
    }

    @media (max-width: 577px) {
        .footer-1 .head {
            margin: 15px 0px 10px 0px;
        }
    }

    .footer-2 {
        font-family: 'TATSanaSuksaBold';
        background-color: #213A8F;
        color: #fff;

        .copyright {
            padding: 0.5rem 1rem;
            padding-left: 0px;
        }

        .nav {
            float: right;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
        }
    }

    @media (max-width: 577px) {
        .footer-2 {
            padding: 15px 0px;
        }
    }

    @media (max-width: 769px) {
        .footer-2 .container {
            max-width: 100%;
        }
    }

    @media (max-width: 769px) {
        .footer-2 .copyright {
            padding: 0.5rem 0.5rem;
            font-size: 12px;
        }
    }

    @media (max-width: 577px) {
        .footer-2 .copyright {
            padding: 0.5rem 2rem;
        }
    }

    @media (max-width: 769px) {
        .footer-2 .nav .nav-link {
            padding: 0.5rem 0.5rem;
            font-size: 12px;
        }
    }

    @media (max-width: 577px) {
        .footer-2 .nav .nav-link {
            padding: 0.5rem 2rem;
        }
    }

    span.nowrap {
        white-space: nowrap;
    }

    .navbar {
        background: #fff;
    }
}